body {
	margin: 0;
	padding: 0;
}

.global-container {
	position: absolute;
	height: 100%;
	width: 100%;
}

.option-btn{
	height: 25px;
	width: 25px;
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: #f05a28;
}

.sidebar {
	width: 250px;
	height: 100%;
	float: left;
	background-color: #f3f3f3;
}

.sidebar-btn-container {
	margin-top: 100px;
}

.sidebar-btn {
	display: flex;
	padding: 20px 30px;
}

.sidebar-btn-icon {
	height: 20px;
	width: 20px;
	background-color: #333;
	margin-right: 20px;
}

.sidebar-btn-text {
	color: #333;
	opacity: 0.7;
}
.sub-container {	
	width: calc(100% - 250px);
	height: 100%;
	float: right;
}

.topbar {
	position: relative;
	height: 20px;
	width: calc(100% - 60px);
	padding: 20px 30px;
}

.topbar-ic1{
	float: left;
	background-color: #f05a28;
	height: 20px;
	width: 20px;
}

.topbar-ic2{
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #f05a28;	
	height: 20px;
	width: 20px;
}

.topbar-ic3{
	float: right;
	height: 20px;
	width: 100px;
	background-color: #f05a28;
}

.title-container {
	height: calc(100% - 90px);
	margin: 0 90px;
	margin-top: 30px;
}

.title-sec1 {
	height: 56%;
}

.title-text {
	float: left;
	width: 200px;
	height: 40px;
	background-color: #f05a28;
}

.title-btn-container{
	float: right;
	width: 220px;
	height: 25px;
	margin-top: 35px;
}

.title-btn{
	float: right;
	width: 100px;
	height: 100%;
	border-radius: 20px;
	background-color: #f05a28;
}

.title-sec2 {
	height: 44%;
}

.nav-btn-container {
	display: flex;
	margin-top: 22px;
	height: 25px;
}

.nav-btn{
	width: 70px;
	height: 100%;
	background-color: #f05a28;
	margin-right: 10px;
}

.sub-container-header {
	height: 30%;
	border-bottom: 1px solid #f3f3f3;
}

.sub-container-section {
	height: calc(70% - 1px);	
}

.section-container {
	padding-top: 30px;
	margin: 0 90px;
	height: calc(100% - 30px);
}

.sec1 {
	float: left;
    width: 47%;
    height: 380px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
}

.sec2 {
	display: flex;
	width: 47%;
    float: right;
    border: 1px solid #f3f3f3;
    height: 65px;
}

.sec2-left {
	padding: 20px;
	height: 20px;
	width: 75%;
	border-right: 1px solid #f3f3f3;
}

.sec2-left-icon {
	float: left;
	height: 20px;
	width: 20px;
	background-color: #f05a28;
}

.sec2-left-text {
	margin-left: 40px;
	height: 20px;
	width: 200px;
	background-color: #f05a28;
}

.sec2-right{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #f05a28;
	margin: 20px auto;
}

.sec3 {
	width: 47%;
    height: 430px;
    float: right;
    border: 1px solid #f3f3f3;
    margin-top: 20px;
    background-color: #f3f3f3;
}

.sec4 {
	width: 47%;
    margin-top: 20px;
    float: left;
    height: 350px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
}